characterization-project/.gradle/.*
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.bin
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.lock
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.bin
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.lock
characterization-project/.gradle/6.0.1/javaCompile/javaCompile.lock
characterization-project/.gradle/6.0.1/javaCompile/taskHistory.bin
characterization-project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
characterization-project/.gradle/buildOutputCleanup/outputFiles.bin
characterization-project/build/classes/java/main/dc/Robot.class
characterization-project/build/classes/java/main/dc/Robot$1.class
characterization-project/build/classes/java/main/dc/Robot$Sides.class
characterization-project/build/debug/debuginfo.json
characterization-project/build/debug/riopartial/characterization-project.json
characterization-project/build/libs/characterization-project.jar
characterization-project/build/tmp/expandedArchives/cscore-cpp-2021.1.2-linuxathena.zip_750c226b9188d46094c5a0344567e9cb/linux/athena/shared/libcscore.so
characterization-project/build/tmp/expandedArchives/cscore-cpp-2021.1.2-linuxathena.zip_750c226b9188d46094c5a0344567e9cb/linux/athena/shared/libcscorejni.so
characterization-project/build/tmp/expandedArchives/hal-cpp-2021.1.2-linuxathena.zip_1c3ef5a5512cf2b357a82ca5be1e2ae2/linux/athena/shared/libwpiHal.so
characterization-project/build/tmp/expandedArchives/hal-cpp-2021.1.2-linuxathena.zip_1c3ef5a5512cf2b357a82ca5be1e2ae2/linux/athena/shared/libwpiHaljni.so
characterization-project/build/tmp/expandedArchives/ntcore-cpp-2021.1.2-linuxathena.zip_25ca7e4e1efdb8fa3d4d888148525cb4/linux/athena/shared/libntcore.so
characterization-project/build/tmp/expandedArchives/ntcore-cpp-2021.1.2-linuxathena.zip_25ca7e4e1efdb8fa3d4d888148525cb4/linux/athena/shared/libntcorejni.so
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_calib3d.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_core.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_features2d.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_flann.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_highgui.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_imgcodecs.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_imgproc.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_java347.so
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_ml.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_objdetect.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_photo.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_shape.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_stitching.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_superres.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_video.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_videoio.so.3.4
characterization-project/build/tmp/expandedArchives/opencv-cpp-3.4.7-5-linuxathena.zip_a13e35f7ea5f447a741134dc3e7cd6a6/linux/athena/shared/libopencv_videostab.so.3.4
characterization-project/build/tmp/expandedArchives/SparkMax-driver-1.5.1-linuxathena.zip_720f144c6120693f94d3d8bf7b40351d/linux/athena/shared/libSparkMaxDriver.so
characterization-project/build/tmp/expandedArchives/wpimath-cpp-2021.1.2-linuxathena.zip_07f1b87d249e578d38cf6e5a7e355f4a/linux/athena/shared/libwpimath.so
characterization-project/build/tmp/expandedArchives/wpimath-cpp-2021.1.2-linuxathena.zip_07f1b87d249e578d38cf6e5a7e355f4a/linux/athena/shared/libwpimathjni.so
characterization-project/build/tmp/expandedArchives/wpiutil-cpp-2021.1.2-linuxathena.zip_3828fa20bd0c980160d71250c9907971/linux/athena/shared/libwpiutil.so
characterization-project/build/tmp/expandedArchives/wpiutil-cpp-2021.1.2-linuxathena.zip_3828fa20bd0c980160d71250c9907971/linux/athena/shared/libwpiutiljni.so
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.bin
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.lock
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.bin
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.lock
characterization-project/.gradle/6.0.1/javaCompile/javaCompile.lock
characterization-project/.gradle/6.0.1/javaCompile/taskHistory.bin
characterization-project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
characterization-project/.gradle/buildOutputCleanup/outputFiles.bin
characterization-project/build/classes/java/main/dc/Robot.class
characterization-project/build/classes/java/main/dc/Robot$1.class
characterization-project/build/classes/java/main/dc/Robot$Sides.class
characterization-project/build/libs/characterization-project.jar
characterization-project/build/libs/characterization-project.jar
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.bin
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.lock
characterization-project/.gradle/6.0.1/fileContent/fileContent.lock
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.bin
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.lock
characterization-project/.gradle/6.0.1/fileHashes/resourceHashesCache.bin
characterization-project/.gradle/6.0.1/javaCompile/classAnalysis.bin
characterization-project/.gradle/6.0.1/javaCompile/jarAnalysis.bin
characterization-project/.gradle/6.0.1/javaCompile/javaCompile.lock
characterization-project/.gradle/6.0.1/javaCompile/taskHistory.bin
characterization-project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
characterization-project/.gradle/buildOutputCleanup/cache.properties
characterization-project/.gradle/buildOutputCleanup/outputFiles.bin
characterization-project/.settings/org.eclipse.buildship.core.prefs
characterization-project/.wpilib/wpilib_preferences.json
characterization-project/bin/main/dc/Main.class
characterization-project/bin/main/dc/Robot.class
characterization-project/bin/main/dc/Robot$Sides.class
characterization-project/bin/main/dc/SimEnabler.class
characterization-project/build/classes/java/main/dc/Robot.class
characterization-project/build/classes/java/main/dc/Robot$1.class
characterization-project/build/classes/java/main/dc/Robot$Sides.class
characterization-project/build/debug/desktopinfo.json
characterization-project/build/debug/partial/characterization-project_java.json
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.bin
characterization-project/.gradle/6.0.1/executionHistory/executionHistory.lock
characterization-project/.gradle/6.0.1/fileContent/fileContent.lock
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.bin
characterization-project/.gradle/6.0.1/fileHashes/fileHashes.lock
characterization-project/.gradle/6.0.1/fileHashes/resourceHashesCache.bin
characterization-project/.gradle/6.0.1/javaCompile/classAnalysis.bin
characterization-project/.gradle/6.0.1/javaCompile/jarAnalysis.bin
characterization-project/.gradle/6.0.1/javaCompile/javaCompile.lock
characterization-project/.gradle/6.0.1/javaCompile/taskHistory.bin
characterization-project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
characterization-project/.gradle/buildOutputCleanup/cache.properties
characterization-project/.gradle/buildOutputCleanup/outputFiles.bin
